<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login System</title>
    <link rel="stylesheet" href="/static/CSS/normalize.css">
    <link rel="stylesheet" href="/static/CSS/styles.css">

</head>
<body>

    {% block content %}
        {# #}
    {% endblock %}


    <script src="/static/JS/jquery.js"></script>
    <script src="/static/JS/scripts.js"></script>
</body>
</html>