{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Log In</h1>
        <form action="" name="contact_form">
            <label for="name">Email</label>
            <input type="email" name="email" placeholder="Enter registered email address" class="field" required>

            <p class="error error--hidden"></p>

            <!-- Button trigger modal -->

            <div class="d-grid gap-2 d-md-block">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Send Email
                </button>
                <button type="button" class="btn btn-primary"><a href="/" style="color:white; text-decoration: none;">Login</a></button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Email sent</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}