{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Log In</h1>
        <form action="" name="login_form">
            <label for="name">Email</label>
            <input type="email" name="email" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>



            
            <div class="center d-grid gap-2 d-md-block">
                <button type="submit" class=" center btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Login
                </button>
                <button type="button" class=" center btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a href="/signup/" style="color:white; text-decoration: none;">Sign Up</a>
                </button>

            </div>
            <button type="button"><a href="/contact/" style="text-decoration: none;">Forgot Password</a></button>
           
        </form>
    </div>
</div>
{% endblock %}